.TodoItem {
    margin: 0.5vh 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    .done {
        color: #CCC;
    }

    .buttonWrapper, .time {
        width: 90px;
        margin: 0 0.5vw;
        text-align: center;
    }

    .buttonWrapper {

        .doneButton {
            color: rgb(0, 175, 0);

            &[disabled] {
                color: rgba(0, 0, 0, 0.25);
            }
        }

        .undoneButton {

        }

        .deleteButton {
            color: rgb(255, 0, 0);

            &[disabled] {
                color: rgba(0, 0, 0, 0.25);
            }
        }
    }

    .title {
        width: calc(100% - 90px - 90px - 2vw);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.modal {
    padding: 0 5vw;

    @media all and (max-width: 1000px) {
        padding: 0 1vw;
    }
}